<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <title>Modal Cards - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <style>
    .columns:nth-child(3)
    {margin-top: -10rem;}
    </style>
  </head>
  <body>
           <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/8/original/flatironschool.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    <li class="is-active"><a href="/home">Home</a></li>
                                    <li><a href="/students">Students</a></li>
                                    <li><a href="/courses">Courses</a></li>
                                    <li><a href="/instructors">Instructors</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>



    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" style="color: black;"><%= @course.name %> Course Information</h1>
          </div>
        </div>
    </div>
</div>

<h4 class="subtitle is-4">Seat Limit: <%= @course.seat_limit() %> </h4>
<h4 class="subtitle is-4"> Open Seats: <%= @course.open_seats %> </h4>
<br>
<h4 class="subtitle is-4">Instructor: <%= link_to @course.instructor.name, instructor_path(@course.instructor) %> </h4>
<br>
<h4 class="title is-4">Schedule: <%= @course.week_day %> - <%=@course.time %>:00 hrs </h4>
<hr>
<h4 class="title is-4"> Enrolled Students</h4>
<ol>
    <% @course.grades.each do |course_inst| %>
    <li>
        <%= link_to course_inst.student.name, student_path(course_inst.student) %>
    </li>
    <% end %>
</ol>

<br>
<%= link_to "Enroll in a Course", new_grade_path, class: "button is-info"%>

</html>
